<%- include('partials/header', { title: "Home" }) %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QAP-3 User-Management System</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div class="container">
        <h1>QAP-3 User-Management System</h1>
        <div class="index-button-container">
            <button onclick="window.location.href='/login'">Login</button>
            <button onclick="window.location.href='/signup'">Sign Up</button>
        </div>
    </div>
</body>
</html>
<%- include('partials/footer') %>
